{% load static %}
<!DOCTYPE html>
<html>
  <head>
        <title><My Resume></title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Red Hat Display&subset=latin,latin-ext"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet"
          href="{% static 'css/resume.css' %}">
  </head>
  <body>
        <!-- Header start -->
    <div class='header'>
      <a href='/'><img src="https://static.thenounproject.com/png/3064787-200.png" id=home></a>      
      <img class='self-image'
           src='https://media.licdn.com/dms/image/C4E03AQEq4GcY2QD6vQ/profile-displayphoto-shrink_800_800/0/1645962424302?e=1700697600&v=beta&t=dWdXxYSOAh8noZN28Rkm4BHh7D4JVd-a48tICEhlsRg'>
          <p class='name'> Axel Bawor </p>
          <p class='prof-contact'> Junior Programmer </p>
          <br>
    </div>
        <!-- Header end -->

        <!-- Summary section start -->       
    <div class='summary'> 
      <h2> Summary </h2>
      <p> Junior programmer with a solid foundation in engineering and managing design tasks, on the lookout for a role
        in the programming field to apply my Python expertise and my enthusiasm for automating tasks and tackling
        problems. My 8 years of continuous experience in design engineering along with recently gained Python coding
        skills allow me to swiftly grasp methods and procedures and optimise them. I am eagerly anticipating a shift
        into a programming-centered position where I can make meaningful contributions.</p>
      <hr>
    </div>
        <!-- Summary section end -->        

        <!-- Experience section start -->       
    <div> 
      <h2> Programming Experience </h2>
        <ul>
          <li>Completed a "Python for Rhino3D Scripting" course, which sparked my initial love for programming.</li>
          <li>Completed a Cisco Python Programming Microcredential Course at The Open University, which taught me
            Python fundamentals through tutorials, lab time and a small final project.</li>
          <li>Utilised Python to create a library of scripts at current workplace, which streamlined and ensured
            robustness of manufacturing process based in Rhino 3D CAD software.</li>
          <li>Developed and maintained this website using Python and Django framework.</li>
          <li>Learned how to use Ursina game engine for Python to create the racing game showcased on my website.</li>
          <li>Learned using Grasshopper, which is a visual programming interface for Rhino 3D to develop parametric
            models and streamline design process at current workplace.</li>
          <li>Implemented a webapp to create an interactive database from my spreadsheet of ideas for family days out
             around Scotland.</li>
          <li>Developed a ToDo App and a URL Shortener App using Python and API frameworks like FastAPI and Flask.</li>
        </ul>
      <hr>
      </div>
      <h2> Engineering Experience </h2>
      <div>
        <h4> tensARC Architectural Services | 2015-Present </h4>
        <ul>
          <li><b>Engineering and Design Manager</b> | 2021-Present
            <p>- Automation and streamlining processes using Python in Rhino, for better efficiency and robustness.<br>
            - Managing engineering/production team and its resources to ensure all projects are delivered on time and to the highest standard.<br>
            - Developed an online design tool using Grasshopper, which increased number of leads and reduced design time by allowing customers to create their own solutions.</p>
          </li>
          <li><b>Design Engineer</b> | 2017-2021
            <p>- Designed prototypes for machine parts to improve efficiency and enhance quality of product.<br>
            - Setting up in-house manufacturing department, which reduced outsourcing costs and lead times.<br>
            - Operation and maintenance of a state-of-the-art laser cutting machine and a rotary calendar heat press.</p>
          </li>
          </li>
          <li><b>Engineering and Design Assistant</b> | 2015-2017
            <p>- Communicating with trade partners to provide technical advice required to carry out assessments, surveys and installations.<br>
            - Working closely with the sales team to improve direct sales processes.<br>
          </li>
          </li>
        </ul>
      </div>
      <hr>
    </div>
        <!-- Experience section end -->        

        <!-- Skills section start -->
    <div class='skills'>        
      <h2> Skills </h2>
      <table>
        <tr>
          <th>Technologies</th>
          <td>Python</td>
          <td>Grasshopper</td>
          <td>Matlab</td>
          <td>HTML</td>
          <td>CSS</td>
        </tr>
        <tr>
          <th>Competency</th>
          <td>Intermediate</td>
          <td>Advanced</td>
          <td>Novice</td>
          <td>Novice</td>
          <td>Novice</td>
        </tr>
      </table>
        <br>
        <table>
        <tr>
          <th>Soft Skills</th>
          <td>Problem Solving</td>
          <td>Team Working</td>
          <td>Perseverance</td>
          <td>Time Management</td>
          <td>Disciplined</td>
        </tr>
      </table>
      <hr>
    </div>
        <!-- Skills section end -->        

        <!-- Education section start -->
        <h2>Education</h2>
        <li><b>Glasgow Caledonian University</b>
            | Mechanical Electronic Systems Engineering | 2013-2015
            <p>Achieved 1st Class</p>
        </li>
        <li><b>Glasgow Stow College</b>
            | HNC/HND Mechanical Engineering | 2011-2013
            <p>Achieved grades A/A</p>
        </li>
        <!-- Education section end -->
    <hr>
        <!-- Leave me a message section start --> 
      <button onclick="location.href='mailto:abawor200@gmail.com';">Send me an email</button>
        <!-- Leave me a message section end -->
        </body>
</html>
