{% load static %}
<!DOCTYPE html>
<html>
  <head>
        <title><My Resume></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Red Hat Display&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/resume.css' %}">        
  </head>
  <body>
        <!-- Header start -->
    <div class='header'>
      <a href='/'><img src="https://static.thenounproject.com/png/3064787-200.png" id=home></a>      
      <img class='self-image' src='https://media.licdn.com/dms/image/C4E03AQEq4GcY2QD6vQ/profile-displayphoto-shrink_800_800/0/1645962424302?e=1685577600&v=beta&t=jZNSpBnkxE7z1IHIqr-jY0YRtD3vc1wZTfQc0Ipqes4'>
          <p class='name'> Axel Bawor </p>
          <p class='prof-contact'> Engineering and Design Manager </p>
          <p class='prof-contact'> To grow, develop and streamline processes and services </p>
          <br>
      <p class='prof-contact'> Address: G33 5JA, Glasgow, UK  &emsp; Email: abawor200@gmail.com &emsp; Telephone: 07735566339 </p>
    </div>
        <!-- Header end -->

        <!-- Summary section start -->       
    <div class='summary'> 
      <h2> Summary </h2>
      <p> Software engineer on the rise. Experience in using Python for automating and
      streamlining tasks in Rhino3D. Self-taught and striving to discover and learn
      about all the different areas of programming to find my own path in this ever-growing
      and exciting world of technology.</p>
      <hr>
    </div>
        <!-- Summary section end -->        

        <!-- Experience section start -->       
    <div> 
      <h2> Programming Experience </h2>
        <ul>
          <li>Utilised Python to create a library of scripts at my current workplace, which stramlined and ensured robustness of our Rhino3D CAD based tasks.</li>
          <li>Using tutorials and a lot of googling I have taught myself how to create this website from ground up using Django web framework, then went onto learning Ursina to create the racing game and finally SQL to add the database project to my portfolio.</li>
          <li>Completed a Cisco Python Programming Microcredential Course at The Open University, which gave me an insight into Python fundamentals. Course involved a lot of lab time and a small final project.</li>
          <li>Completed a "Python for Rhino3D Scripting" course as part of my personal development plan at current workplace, which sparked my initial love for programming.</li>
          <li>Learned Grasshopper on my own to develop parametric models and streamline design process at current workplace.</li>
          <li>Continuously challanging myself with more difficult problems on websites like: LeetCode and Codewars.</li>
          <li>Using mobile apps like "Sololearn" to learn basics of popular programming languages and broaden my perspective on how they can work together in computer world.</li>
        </ul>
      <hr>
      </div>
      <h2> Engineering Experience </h2>
      <div>
        <h4> tensARC Architectural Services | 2015-Present </h4>
        <ul>
          <li><b>Engineering and Design Manager</b> | 2021-Present
            <p>- Automation and streamlining processes using Python in Rhino, for better efficiency and robustness.<br>
            - Managing engineering/production team and its resources in peak times to ensure all projects are delivered on time and to the highest standard.<br>
            - Developed an online design tool using Grasshopper, which increased number of leads and reduced design time by allowing customers to create their own solutions.</p>
          </li>
          <li><b>Design Engineer</b> | 2017-2021
            <p>- Designed prototypes for improved in-house machine parts to improve efficiency and enchance quality of product.<br>
            - Setting up in-house manufacturing department, which reduced outsourcing costs and lead times.<br>
            - Operation and maintenance of a state-of-the-art laser cutting machine and a rotary calendar heat press.</p>
          </li>
          </li>
          <li><b>Engineering and Design Assistant</b> | 2015-2017
            <p>- Communicating with trade partners to provide technical advice required to carry out assessments, surveys and installations.<br>
            - Working closely with the sales team to enchance direct sales processes.<br>
          </li>
          </li>
        </ul>
      </div>
      <hr>
    </div>
        <!-- Experience section end -->        

        <!-- Skills section start -->
    <div class='skills'>        
      <h2> Skills </h2>
      <table>
        <tr>
          <th>Technologies <br> (Competency)</th>
          <td>Python <br> (Intermediate)</td>
          <td>HTML <br> (Novice)</td>
          <td>CSS <br> (Novice)</td>
          <td>Grasshopper <br> (Advanced)</td>
          <td>Matlab <br> (Novice)</td>
        </tr>
        <tr>
          <th>Soft Skills</th>
          <td>Problem Solving</td>
          <td>Team Work</td>
          <td>Perseverance</td>
          <td>Time Management</td>
          <td>Self-Motivated</td>
        </tr>
      </table>
      <hr>
    </div>
        <!-- Skills section end -->        

        <!-- My Schedule section start -->
    <br>
    <div class='my-coding-schedule'>
      <h2>My Coding Schedule (min. 10h/week)</h2>
      <table>
        <tr>
          <th>Day</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
        <tr>
          <td>5:00am-7:00am</td>
          <td></td>
          <td></td>
          <td></td>
          <td>Code</td>
          <td></td>
          <td></td>
          <td>Code</td>       
        </tr>
        <tr>
          <td>2h during the day</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Code</td>
          <td>Code</td>
        </tr>
        <tr>
          <td>7:00pm-9:00pm</td>
          <td>Code</td>
          <td></td>
          <td>Code</td>
          <td>Code</td>
          <td></td>
          <td></td>
          <td>Code</td>
        </tr>
      </table>
      <hr>
    </div>
        <!-- My Schedule section end -->

        <!-- Leave me a message section start --> 
      <button onclick="location.href='mailto:abawor200@gmail.com';">Send me an email</button>
        <!-- Leave me a message section end -->
        </body>
</html>
