*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 600;
    
    --clr-white: #fff;
    --clr-light: #d9d2b2;
    --clr-medium: #344455;
    --clr-dark: #233145;
    --clr-main: linear-gradient(-45deg, #23a6d5, #23d5ab);

    --bg-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.125rem;
    --fs-body: 0.9rem;

    --ts0: 0px 0px 10px rgba(255,255,255,0.9);
    --ts1: 2px 2px 0px rgba(0,0,0,0.3);
    --ts2: 2px 2px 2px rgba(0,0,0,0.3);
    --ts3: 2px 2px 5px rgba(0,0,0,0.3);


    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
    
    --bs2: 0 0 1em rgba(0,0,0,.25),
          0 0 1em rgba(0,0,0,.15);

    --s: 125px;

    --c1: #fff;
    --c4: #c2c1c1;
    --c2: #b1b1b1;
    --c3: #dddddd;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 2.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.25rem;
        --fs-body: 1rem;

        --s: 200px;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-gradient);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;  
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    letter-spacing: 0.05em;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a,
i {
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

section {
    padding: 6em 0;
}

.section_title {
    font-size: var(--fs-h1);
    text-align: center;
    font-weight: var(--fw-bold);
    letter-spacing: 0.15em;
    text-shadow: var(--ts2);
}

.section_title::after {
    content: '';
    position: relative;
    display: block;
    height: 5px;
    width: 3em;
    background: var(--clr-main);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin: 0.2em 0 0.4em;
}

.section_subtitle {
    font-size: var(--fs-h3);
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0em 2em 3em;
    text-shadow: var(--ts3);
}

.container {
    max-width: 1400px;
    margin: auto;
}

.shortcut_button {
    display: block;
    width: 10em;
    margin: 2em auto 0;
    color: var(--clr-white);
    background: var(--clr-main);
    padding: 0.5em 2em;
    font-size: var(--fs-h3);
    text-align: center;
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow: var(--bs);
    text-shadow: var(--ts3);
}

.shortcut_button:hover {
    transform: translateY(-5px);
    color: var(--clr-white);
}



/* Header */

.header {
    background-color: var(--clr-dark);
    padding: 0.5em 1em;
    font-weight: var(--fw-bold);
    position: sticky;
    top: 0;
    box-shadow: var(--bs);
    z-index: 100;
}

.nav-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
    font-size: var(--fs-body);
}

.nav-bar a {
    background: var(--clr-light);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-bar a:hover {
    background: var(--clr-main);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_bar_links a {
    margin-left: 2em;
}

.nav_bar_home {
    display: flex;
    align-items: center;
}

.my_image {
    width: 50px;
    height: 100%;
    border-radius: 50%;
    border: 2px solid transparent;
    overflow: hidden;
    margin-right: 1em;
    background: var(--clr-main);
}

.hamburger {
    display: none;
    color: var(--clr-light);
    font-size: 1.6em;
}

.close-mark {
    display: none;
    color: var(--clr-light);
    font-size: 1.6em;
}

@media (max-width: 800px) {
    .nav_bar_links {
        display: block;
        position: absolute;
        top: -350px;
        text-align: end;
        right: 0;
        background-color: var(--clr-dark);
        transition: 0.5s;
    }
    .nav_bar_links.active {
        top: 68px;
    }
    .nav_bar_links a {
        display: block;
        padding: 1em;
        padding-right: 3em;
        padding-left: 5em;
        margin-left: 0;
        border-top: 1px solid var(--clr-light);
    }
    .hamburger {
        display: flex;
    }
}

/* Intro */

.intro {
    display: block;
    height: calc(100vh - 2em);
    text-align: center;
    color: var(--clr-light);
}

.intro_title {
    font-size: calc(var(--fs-h1) * 1.75);
    font-weight: var(--fw-bold);
    margin-top: 1em;
    text-shadow: var(--ts1);
}

.intro_subtitle {
    font-size: var(--fs-h1);
    text-shadow: var(--ts2);
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: 0 2em;
}

.intro-text .section_title {
    font-weight: var(--fw-bold);
}

.intro_social {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    background-color: var(--clr-dark);
    transform: translateY(-50%);
    box-shadow: var(--bs);
}

.intro_social a:hover {
    background: var(--clr-main);
}

.intro_social i {
    padding: 1.5em 1em;
}

.intro_social .fa-brands,
.intro_social .fa-solid {
    font-size: var(--fs-h2);
    padding: 0.6em 0.4em;
    width: 100%;
    text-align: center;
    color: var(--clr-light);
    transition: scale 0.3s ease-in-out;

}

.intro_social .fa-brands:hover,
.intro_social .fa-solid:hover {
    scale: 1.2;
}

.scroll_down {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid var(--clr-light);
    border-radius: 50%;
    animation: down 1.5s infinite;
    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 2px solid var(--clr-light);
        border-bottom: 2px solid var(--clr-light);
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    30% {
        transform: translateY(15px);
    }
    80% {
        transform: translate(0);
    }
}



/* About me */

.about-me {
    background-color: var(--clr-medium);
    color: var(--clr-light);
}

.about-me-columns {
    margin: auto 2em;
    display: flex;
    gap: 5em;
    text-align: justify;
}

@media (max-width: 800px) {
    .about-me-columns {
        display: block;
    }
}

.section_subtitle.my-story,
.section_subtitle.skills {
    margin: 0 0 0.6em;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-align: left;
}

@media (max-width: 800px) {
    .section_subtitle.skills {
        margin-top: 1em;
    }
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    gap: 1em;
}

.skills-list li {
    background: var(--clr-main);
    color: white;
    padding: 0.25em 0.75em;
    border-radius: 5px;
    box-shadow: var(--bs);
    text-shadow: var(--ts3);
}

.contact_button {
    margin: 1em 0;
    font-size: var(--fs-body);
}

/* Projects */

.projects {
    background-color: var(--clr-dark);
    text-align: center;
    color: var(--clr-light);
}

.portfolio_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 5em;
    margin: 5em auto;
}

@media (max-width: 800px) {
    .portfolio_items {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1560px) {
    .portfolio_items {
        width: 90%;
    }
}

.portfolio_item {
    background-color: transparent;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: none;
    --webkit-transition: background 0.4s;
    box-shadow: var(--bs2);

}

.portfolio_item:hover {
    background: var(--clr-main);
}

.portfolio_item img {
    width: 100%;
    transition: opacity 0.4s ease-in-out, scale 0.4s;
}

.portfolio_item img:hover {
    opacity: 0.7;
    scale: 1.1;
}

.hidden_text {
    visibility: hidden;
    font-size: var(--fs-h3);
    opacity: 0;
    transition: display 0.4s, opacity 0.4s;
    color: var(--clr-white);
    background: var(--clr-main);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em 1em;
    border-radius: 15px;
    z-index: 100;
    pointer-events: none;
    transition: visibility 0.4s, opacity 0.4s;
}

.portfolio_item:hover .hidden_text {
    visibility: visible;
    opacity: 0.8;
}

.portfolio_item_desc {
    display: none;
    position: fixed;
    backdrop-filter: blur(10px);
    background-color:  rgb(255 255 255 / 30%);;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.portfolio_item_desc_box {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border-radius: 5px;
    padding: 15px 25px;
    text-align: center;
    width: 75%;
    position: relative;
    cursor: default;
}

.desc_title_top {
    margin-top: 0.5em !important;
}

.portfolio_item_desc_title {
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
    margin-top: 2em;
}

.portfolio_item_desc_text {
    margin: 1em 0 0;
}

.close_portfolio_item_desc {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    background: var(--clr-main);
    color: var(--clr-light);
    padding: 15px;
    line-height: 1;
    font-family: cursive;
    font-weight: bold;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technologies_used {
    justify-content: center;
    margin-top: 1em;
}

.resume_download_text {
    margin-bottom: 1em;
}

.resume_download_button {
    background: var(--clr-main);
    font-size: var(--fs-body);
    margin-top: 0;
    width: fit-content;
}

/* Contact */

.contact {
    background-color: var(--clr-medium);
    color: var(--clr-light);
    text-align: center;
}

.contact_form_container {
    margin: 2em auto 2em;
    width: 90%;
    max-width: 1000px;
    background: var(--clr-dark);
    color: var(--clr-light);
    padding: 1em 2em 2em;
    border-radius: 10px;
    font-weight: var(--fw-bold);
    text-align: left;
    font-family: var(--ff-secondary);
    box-shadow: var(--bs);
}

label {
    margin: 1em auto 0.1em;
    font-size: var(--fs-body);
    color: var(--clr-light);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--clr-medium);
    color: var(--clr-light);
    border-radius: 5px;
    display: block;
    background-color: var(--clr-medium);
    box-shadow: var(--bs);
}
  
.contact_form_container .submit_button {
    background: var(--clr-main);
    color: white;
    padding: 12px 20px;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.5s, filter 0.5s;
    box-shadow: var(--bs);
    text-shadow: var(--ts3);
}
  
.contact_form_container .submit_button:hover {
    transform: translateY(-3px);
}

.contact_form_container .submit_button[disabled] {
    background: gray;
    pointer-events: none;    
}
  


/* Footer */

.footer {
    background-color: var(--clr-dark);
    font-size: var(--fs-h3);
    color: var(--clr-light);
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    margin: auto;
    max-width: 1400px;
}

.footer_desc {
    margin-left: 2em;
}

.footer_social {
    margin-right: 2em;
}

.footer_my_name,
.footer_social_title {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin-bottom: 0.5em;
}

.footer_my_profile {
    font-size: var(--fs-body);
}

.footer_social {
    text-align: end;
}

.footer_social_links i {
    color: var(--clr-light);
    font-size: 1.2em;
    margin: 0.5em 0 0.5em 1em;
}




